name: Build and Release

on:
  push:
    tags:
      - "v*.*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            bin: usaco-cli
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            bin: usaco-cli
            target: aarch64-apple-darwin
          - os: windows-latest
            bin: usaco-cli.exe
            target: x86_64-pc-windows-msvc.exe
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v4
        name: Checkout
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-release
      - uses: dtolnay/rust-toolchain@stable
        name: Setup rust
      - run: cargo build --release
        name: Build
      - name: Move artifacts
        run: mv target/release/${{ matrix.platform.bin }} ./usaco-${{ matrix.platform.target }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: usaco-${{ matrix.platform.target }}
          path: ./usaco-${{ matrix.platform.target }}
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: bin
          pattern: usaco-*
          merge-multiple: true
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bin/*
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout
      - uses: dtolnay/rust-toolchain@stable
        name: Setup rust
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
